VITE_API_BASE_URL=http://vr-curatortest002.duckdns.org:8080
VITE_WS_BASE_URL=ws://vr-curatortest002.duckdns.org:8080/ws/gallery
VITE_WEB_LLM_MODEL_ID=
VITE_WEBRTC_STUN_URLS=stun:stun.l.google.com:19302
VITE_WEBRTC_TURN_URLS=
VITE_WEBRTC_TURN_USERNAME=
VITE_WEBRTC_TURN_CREDENTIAL=

